
.blog__main {
    background-color: var(--sombra);
    padding: 6rem 2rem 6rem 2rem;
}

.blog__main-container {
    grid-template-columns:  1fr;
    grid-template-rows: 3fr;
    max-width: 80rem;
}

.blog__left-ctg {
    grid-row: 1;
}

.blog__main-figure {
    grid-row: 2;
}

.blog__main-figure img {
   width: 100%;
}


.blog__main-info-container {
    margin-top: 2rem;
    grid-row: 3;
    grid-column: 1;
}

.blog__related {
    max-width: 80rem;
    padding: 0 2rem;
}
