main {
    width: 100%;
}

.blog__main {
    background-color: var(--sombra);
    padding: 8rem 0 8rem 0;
    max-width: 100%;
}

.blog__main-container {
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-template-rows: 2fr;
}

.blog__left-ctg {
    grid-column: 1;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.blog__main-figure {
    grid-column: 1;
    grid-row: 2;
}

.blog__main-figure img {
    width: 90%;
}

.blog__main-info-container {
    grid-column: 2;
    grid-row: 2;
}

.blog__main-info-container:hover a {
    border: var(--rojo) 0.1rem solid;
    background-color: var(--rojo);
    color: var(--blanco);
}

.blog__main-info-container .blog__main-title {
    margin: 0;
}

.blog__main-info-container .blog__main-content {
    margin: 2.4rem 0 3.2rem 0;
    text-align: justify;
} 
/* .blog__main-container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 6rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50rem;
}

.blog__main-left   {
    width: 50%;
}

.blog__left-ctg {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.blog__main-left figure img {
    width: 100%;
}

.blog__main-right {
    width: 50%;
    padding-left: 12rem;
    display: flex;
    flex-direction: column;
}

.blog__main-right .blog__main-title {
    margin: 0;
}

.blog__main-right .blog__main-content {
    margin: 2.4rem 0 3.2rem 0;
} */

.blog__main-info-container .blog__main-button {
    display: inline-block;
    width: fit-content;
    border: var(--rojo) 0.1rem solid;
    padding: 0.8rem 1.2rem;
}

.blog__main-info-container .blog__main-button:hover {
    border: var(--rojo) 0.1rem solid;
    background-color: var(--rojo);
    color: var(--blanco);
}

.blog__related {
    max-width: 100vw;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.blog__related h2 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding-bottom: 6rem;
    border-bottom: #c2c2c2 0.1rem solid;
}

.blog__post--container { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    padding: 4rem 0 6rem 0;
}

.blog__post-card img {
    width: 100%;
}

.blog__post-info {
    padding: 2rem 0;
}

.blog__post-parrafo {
    margin: 0.8rem 0 1.2rem 0;
    text-align: justify;
}

.blog__post-card:hover {
    border-bottom: var(--rojo) 0.1rem solid;
    position: relative;
}

.blog__post-card:hover .blog__post-button {
    background-color: var(--rojo);
    color: var(--blanco);
}
