/* .home__main {
    width: 100vw;
    height: 100vh;
    padding-top: 20rem;
    background-image: url(https://jvmanjonblog.files.wordpress.com/2019/12/astronaut-11080_1920.jpg?w=1920&h=768&crop=1);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
} */

.home__main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: calc(100vh - 14rem);
    background-image: url('https://raw.githubusercontent.com/degranda/Platzi-blog/master/Clase%2025%20(media%20queries)/assets/img/Cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .home__main-container {
    max-width: 50rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
} */

.home__main-container {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 35rem;
    margin-top: 12rem;
}

/* .home__main-title {
    text-align: center;
    color: var(--blanco);
}
*/

.home__main-title {
    font-size: 7.2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    color: var(--blanco);
    text-align: center;
}



/* main section button {
    margin-top: 4rem;
    width: fit-content;
    height: 4rem;
    background-color: var(--rojo);
    color: var(--blanco);
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    font-weight: bold;
}  */

.home__main-button {
    margin-top: 4rem;
    background-color: var(--rojo);
    color: var(--blanco);
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    font-weight: bold;
    display: grid;
    align-items: center;
}

.home__main-container button a {
    color: var(--blanco);
    font-size: 1.8rem;
}