header {
    width: 100vw;
    height: 14rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

header .header__icons-container {
    width: 100vw;
    height: 5rem;
    display: grid;
    background-color: var(--rojo);
}

header .header__icons-container .icons {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 5rem;
}

header .icons a {
    color: var(--blanco);
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 9rem;
}

nav .nav__logo-container {
    margin-left: 5rem;
    display: flex;
    align-items: center;
}

nav .nav__logo-container img {
    width: 22rem;
}

nav .profile__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5rem;
}

nav .profile__link a {
    color: var(--negro);
    border-bottom: 1px solid var(--negro);
}

/* .home__main {
    width: 100vw;
    height: 100vh;
    padding-top: 20rem;
    background-image: url(https://jvmanjonblog.files.wordpress.com/2019/12/astronaut-11080_1920.jpg?w=1920&h=768&crop=1);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
} */


.home__main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: calc(100vh - 14rem);
    background-image: url('https://raw.githubusercontent.com/degranda/Platzi-blog/master/Clase%2025%20(media%20queries)/assets/img/Cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* .home__main-container {
    max-width: 50rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
} */

.home__main-container {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 35rem;
    margin-top: 12rem;
}

/* .home__main-title {
    text-align: center;
    color: var(--blanco);
}
*/

.home__main-title {
    font-size: 7.2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    color: var(--blanco);
    text-align: center;
}



/* main section button {
    margin-top: 4rem;
    width: fit-content;
    height: 4rem;
    background-color: var(--rojo);
    color: var(--blanco);
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    font-weight: bold;
}  */

.home__main-button {
    margin-top: 4rem;
    background-color: var(--rojo);
    color: var(--blanco);
    border: none;
    padding: 1rem 1.2rem;
    border-radius: 0.4rem;
    font-weight: bold;
}

.home__main-container button a {
    color: var(--blanco);
    font-size: 1.8rem;
}