:root {
  --rojo: #ed3237;
  --blanco: #ffffff;
  --negro: #202020;
}

::selection {
  color: var(--blanco);
  background: var(--rojo);
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'roboto' , sans-serif;
}

a {
 text-decoration: none;
  color: var(--rojo);
  font-weight: bold;
}

ul {
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

h1 {
  font-size: 2.6rem;
  line-height: 2.8rem;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  letter-spacing: 0.5rem;
}

h3 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  letter-spacing: 0.5rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: 0.5rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: 0.5rem;
}

h6 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.5rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

span {
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.5rem;
}


.global__button {
  display: inline-block;
  width: fit-content;
  border: var(--rojo) 0.1rem solid;
  padding: 0.8rem 1.2rem;
}

.global__button:hover {
  border: var(--rojo) 0.1rem solid;
  background-color: var(--rojo);
  color: var(--blanco);
}