:root {
  --rojo: #ed3237;
  --blanco: #ffffff;
  --negro: #202020;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'robot' , sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}